<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>eff-07</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,93}</string>
				<key>spriteSourceSize</key>
				<string>{97,94}</string>
				<key>textureRect</key>
				<string>{{103,2},{96,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-05</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,84}</string>
				<key>spriteSourceSize</key>
				<string>{97,94}</string>
				<key>textureRect</key>
				<string>{{2,197},{87,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-08</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,94}</string>
				<key>spriteSourceSize</key>
				<string>{97,94}</string>
				<key>textureRect</key>
				<string>{{2,2},{97,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-06</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,93}</string>
				<key>spriteSourceSize</key>
				<string>{97,94}</string>
				<key>textureRect</key>
				<string>{{2,100},{90,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,24}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{148,99},{33,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>b02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,24}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{96,152},{33,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>z-02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,12}</string>
				<key>spriteSourceSize</key>
				<string>{3,12}</string>
				<key>textureRect</key>
				<string>{{39,337},{3,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-05</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,84}</string>
				<key>spriteSourceSize</key>
				<string>{97,94}</string>
				<key>textureRect</key>
				<string>{{2,197},{87,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>b01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,24}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{93,246},{33,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>z-01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,12}</string>
				<key>spriteSourceSize</key>
				<string>{3,12}</string>
				<key>textureRect</key>
				<string>{{2,374},{3,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>blink</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2,2}</string>
				<key>spriteSourceSize</key>
				<string>{2,2}</string>
				<key>textureRect</key>
				<string>{{76,285},{2,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>b03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,22}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{185,99},{33,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,22}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{292,2},{33,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>x01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,48}</string>
				<key>spriteSourceSize</key>
				<string>{39,48}</string>
				<key>textureRect</key>
				<string>{{2,285},{39,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,24}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{136,152},{33,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,24}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{148,99},{33,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,24}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{203,42},{33,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,22}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{255,2},{33,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,36}</string>
				<key>spriteSourceSize</key>
				<string>{48,48}</string>
				<key>textureRect</key>
				<string>{{203,2},{48,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,24}</string>
				<key>spriteSourceSize</key>
				<string>{33,24}</string>
				<key>textureRect</key>
				<string>{{240,42},{33,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>d01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,33}</string>
				<key>spriteSourceSize</key>
				<string>{33,33}</string>
				<key>textureRect</key>
				<string>{{2,337},{33,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{27,27}</string>
				<key>spriteSourceSize</key>
				<string>{48,48}</string>
				<key>textureRect</key>
				<string>{{45,285},{27,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-04</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,48}</string>
				<key>spriteSourceSize</key>
				<string>{48,48}</string>
				<key>textureRect</key>
				<string>{{96,100},{48,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,36}</string>
				<key>spriteSourceSize</key>
				<string>{48,48}</string>
				<key>textureRect</key>
				<string>{{203,2},{48,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eff-03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,45}</string>
				<key>spriteSourceSize</key>
				<string>{48,48}</string>
				<key>textureRect</key>
				<string>{{93,197},{39,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>Bee.png</string>
			<key>size</key>
			<string>{507,1504}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:f8405780d97c640e8ea87077bcdcd91f:94f4da1f81f94500509fefe236ae699d:9f125aa71c5c2418d32e9eacc87866c8$</string>
			<key>textureFileName</key>
			<string>Bee.png</string>
		</dict>
	</dict>
</plist>